* {
	
}

body {
	background-image: url(njzbg.png);
	background-size: cover;
	color: white;
}

summary {
	font-size: 20px;
}

p {
	font-size: 18px;
}

label {
	font-size: 20px;
}

img {
	width: 100%;
}

a {
	color: white;
}

.container {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
}